<!DOCTYPE html>
<html>
    <style>
        table, th, td {
                width: 50px;
                text-align: left;
                border: 1px solid black;
        }

        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
<head>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <h1> {{ data['county_name'] }} County Statistic </h1>
    <table style ="margin-left: auto; margin-right:auto;">
        {% for key, value in data.items() %}
            <tr>
                <th>{{ key }}:</th>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    <p> <a href="{{ url_for('home') }} ">Back to search </p>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>